<form [formGroup]="formModel" class="mt-5 text-center border border-light p-5" (submit)="onSubmit()">

    <p class="h4 mb-4">Регистрация</p>

    <div class="form-row mb-4">
        <div class="col">
            <input type="text" (keypress)="CheckOnWhiteSpace($event)" formControlName="Login" id="Login" class="form-control" required placeholder="Логин">
            <label class="text-danger"
                *ngIf="formModel.get('Login').touched && formModel.get('Login').errors?.required">Вы не
                ввели логин!</label>
        </div>
        <div class="col">
            <input type="text" (keypress)="CheckOnWhiteSpace($event)" id="FirstName" formControlName="FirstName" class="form-control" required
                placeholder="Имя">
            <label class="text-danger"
                *ngIf="formModel.get('FirstName').touched && formModel.get('FirstName').errors?.required">Вы
                не ввели имя!</label>

        </div>
        <div class="col">
            <input type="text" id="LastName" (keypress)="CheckOnWhiteSpace($event)" formControlName="LastName" class="form-control" required
                placeholder="Фамилия">
            <label class="text-danger"
                *ngIf="formModel.get('LastName').touched && formModel.get('LastName').errors?.required">Вы
                не введи фамилию!</label>

        </div>
    </div>

    <input type="email" (keypress)="CheckOnWhiteSpace($event)" id="email" formControlName="Email" class="form-control mb-4" placeholder="E-mail">
    <label class="text-danger"
        *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.email">Вы ввели неверную
        почту!</label>

        
        <input type="text" (keypress)="CheckOnWhiteSpace($event)" formControlName="ImagePath" class="form-control mb-4" placeholder="Ссылка на фото в формате URL (Данное поле не обязательно)">
        

    <div formGroupName="Passwords">
        <input type="password" (keypress)="CheckOnWhiteSpace($event)" id="Password"  formControlName="Password" class="form-control" placeholder="Пароль"
            aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <label class="text-danger"
            *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.required">Вы
            не ввели Пароль!</label>
        <label class="text-danger"
            *ngIf="formModel.get('Passwords.Password').touched && formModel.get('Passwords.Password').errors?.minlength">Ваш
            пароль слишком короткий!</label>
        <br>
        <input type="password" (keypress)="CheckOnWhiteSpace($event)" id="ConfirmPassword" formControlName="ConfirmPassword" class="form-control"
            placeholder="Повторите пароль" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <label class="text-danger"
            *ngIf="formModel.get('Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.required">Вы
            не ввели Пароль!</label>
        <label class="text-danger"
            *ngIf="formModel.get('Passwords.ConfirmPassword').touched && formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Ваши
            пароли не совпадают!</label>

    </div>
    <button mdbBtn color="info" block="true" class="my-4" [disabled]="!formModel.valid"
        type="submit">Регистрация</button>
    <a mdbBtn type="button" color="default" routerLink="/login" block=" true" mdbWavesEffect>Войти</a>
</form>