<form #form='ngForm' autocomplete="off" class="mt-5 text-center border border-light p-5" (submit)="onSubmit(form)">

    <p class="h4 mb-4">Авторизация</p>

    <input type="text" #login="ngModel" name="Login" ngModel required class="form-control mb-4"
        placeholder="Логин">

    <input type="password" ngModel name="Password" #pass="ngModel" required
        class="form-control mb-4" placeholder="Пароль">

    <button mdbBtn color="info" [disabled]='!form.valid' block="true" class="my-4" type="submit">Войти</button>

    <p>Не зарегистрированы?
        <br>
        <a routerLink="/registration">Зарегистрироваться</a>
    </p>
</form>