<app-nav-menu></app-nav-menu>

<div class="row">
    <div class="col-4">
        <mdb-card class="friend-list scrollbar-near-moon">
            <div class="btn-group">
                <button mdbBtn color="primary" class="hoverable" [gradient]="onlyOnlineUser?'peach':'aqua'"
                    (click)="ChangeList('Online')" mdbWavesEffect>
                    Онлайн
                </button>
                <button mdbBtn color="primary" class="hoverable" id="test" [gradient]="onlyOnlineUser?'aqua':'peach'"
                    (click)="ChangeList('All')" mdbWavesEffect>
                    Все пользователи
                </button>
            </div>

            <input mdbInput #inputUserName id="FilterUserName" placeholder="Поиск по имени..."
                (input)="filterUsers(inputUserName.value)" type="text" class="form-control">


            <mdb-card-body>

                <div class="animated bounceIn" *ngIf="onlyOnlineUser; else elseBlock">
                    <p class="text-center" *ngIf="(currentOnlineUsers.length == 0)">
                        Никого не найдено!
                    </p>
                    <div *ngFor="let user of currentOnlineUsers" (contextmenu)="setCords($event, user.userID);"
                        (click)="setRecipient(user)" class="chip col-12 animated flipInX"
                        [ngClass]="{selected:recipientUser && user.userID == recipientUser.userID}">
                        <img [src]="user.imagePath" alt="Contact Person">
                        {{user.fullName}}
                        <mdb-badge *ngIf="user.haveUnreadDialog" class="float-right" danger="true">New!</mdb-badge>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <div class="animated bounceIn">
                        <p class="text-center" *ngIf="(currentAllUsers.length == 0)">Никого не найдено!</p>
                        <div *ngFor="let user of currentAllUsers" (contextmenu)="setCords($event, user.userID);"
                            (click)="setRecipient(user)" class="chip col-12"
                            [ngClass]="{selected:user.userID == recipientUser && recipientUser.userID}">
                            <img [src]="user.imagePath">
                            {{user.fullName}}
                            <mdb-badge *ngIf="user.haveUnreadDialog" class="float-right" danger="true">New!</mdb-badge>
                        </div>

                    </div>
                </ng-template>


                <button class="menu-trigger" [style.left]="clientX" [style.top]="clientY" mat-button
                    #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">

                </button>

                <div>
                    <mat-menu #menu="matMenu">
                        <ng-template matMenuContent let-userId="userId" let-isBlocked="isBlocked">
                            <button *ngIf="!isBlocked" (click)="blockUser(userId)" mat-menu-item>Заблокировать
                                пользователя</button>
                            <button *ngIf="isBlocked" (click)="unblockUser(userId)" mat-menu-item>Разблокировать
                                пользователя</button>
                        </ng-template>
                    </mat-menu>
                </div>


            </mdb-card-body>
        </mdb-card>

    </div>

    <div class="col-8">
        <div>
            <mdb-card id="data" class="messages scrollbar-dusty-grass">
                <mdb-card-body class="force-overflow">
                    <div *ngIf="!recipientUser" class="text-center">
                        <h2>Выберите Чат</h2>
                        <br>
                        <img [src]="chatImage" style="width: 40vh;" alt="">
                    </div>
                    <div *ngIf="recipientUser && Messages.length == 0 && recipientUser.userID && dataLoaded"
                        class="text-center">
                        <h3>
                            Вы еще не общались с этим пользователем!
                            Начните диалог первый!
                        </h3>
                    </div>
                    <div class="h-100 d-flex justify-content-center align-items-center"
                        *ngIf="!dataLoaded && recipientUser && recipientUser.userID">
                        <div class="spinner-border text-secondary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div *ngFor="let msg of Messages" class="alert alert-success col-7 animated" role="alert" [ngClass]="{'offset-5':msg.senderID == currentUser.userID,
                                    'bounceInRight':msg.senderID == currentUser.userID,
                                     'bounceInLeft': msg.senderID == recipientUser.userID }"
                        (contextmenu)="showMessagesContextMenu($event, msg);">

                        <p style="font-size: 0.8em;">
                            {{msg.textMessage}}
                        </p>
                        <hr>
                        <small style="font-size: 0.7em;"><em>{{msg.fullNameSender}}, {{msg.dispatchTime}}</em></small>
                    </div>

                    <button class="menu-trigger" [style.left]="clientX" [style.top]="clientY" mat-button
                        #messageContext="matMenuTrigger" [matMenuTriggerFor]="messageContextMenu">

                    </button>

                    <div>
                        <mat-menu #messageContextMenu="matMenu">
                            <ng-template matMenuContent let-msgId="msgId">
                                <button (click)="deleteMessage(msgId)" mat-menu-item>Удалить сообщение</button>
                             
                            </ng-template>
                        </mat-menu>
                    </div>

                </mdb-card-body>
            </mdb-card>

            <div *ngIf="recipientUser && recipientUser.canWriteMessage">
                <form *ngIf="recipientUser && recipientUser.userID" #form="ngForm" (ngSubmit)="sendMessage(form)">
                    <div class="md-form">
                        <textarea name="message" (keydown.enter)="sendMessage(form)"
                            [disabled]="(!recipientUser.userID)" ngModel required type="text" id="areaMessage"
                            class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                        <label for="form7">Сообщение</label>
                    </div>
                    <button mdbBtn type="submit" color="default" [disabled]="(!recipientUser.userID) || !form.valid"
                        block="true" mdbWavesEffect>Отправить сообщение</button>

                </form>
            </div>

            <div class="h-100 d-flex justify-content-center align-items-center text-center mt-4">
                <div *ngIf="recipientUser && !recipientUser.canWriteMessage && recipientUser.isBlocked">
                    Вы не можете писать сообщения этому пользователю, поскольку он находится у Вас в чёрном списке.
                </div>
                <div *ngIf="recipientUser && !recipientUser.canWriteMessage && !recipientUser.isBlocked">
                    Вы не можете писать сообщения этому пользователю, поскольку он ограничил круг лиц, которые могут
                    присылать ему сообщения.
                </div>
            </div>


        </div>
    </div>
</div>