<app-nav-menu></app-nav-menu>

<div class="row">
    <div class="col-4">
        <mdb-card class="friend-list scrollbar-near-moon">
            <mdb-card-body>
            
                <div *ngFor="let user of Users" (click)="setRecipient(user.userID)" class="chip col-12 selected"
                [ngClass]="{selected:user.userID == recipientUser.userID}"
                >
                    <img [src]="user.imagePath" alt="Contact Person"> 
                    {{user.fullName}}
                </div>    

            </mdb-card-body>
        </mdb-card>

    </div>

    <div class="col-8">
        <div>
            <mdb-card id="data" class="messages scrollbar-dusty-grass">
                <mdb-card-body class="force-overflow" >
                    <div *ngIf="(!recipientUser.userID) "class="text-center">
                        <h2>Выберите Чат</h2>
                        <br>
                        <img src="../../assets/Images/chatImage.png" *ngIf="true" style="width: 40vh;" alt="">
                    </div>
                  
                    <div *ngFor="let msg of Messages" class="alert alert-success col-7"  role="alert"
                    [ngClass]="{'offset-5':msg.senderID == currentUser.userID}"
                    >
                       
                        <p style="font-size: 0.8em;">
                            {{msg.textMessage}}
                        </p>
                        <hr>
                        <small style="font-size: 0.7em;"><em>{{msg.fullNameSender}}, {{msg.dispatchTime}}</em></small>
                    </div>

                </mdb-card-body>
            </mdb-card>

           <form #form ="ngForm" (ngSubmit)="sendMessage(form)">
            <div class="md-form">
                <textarea name="message" (keydown.enter)="sendMessage(form)" [disabled]="(!recipientUser.userID)" ngModel required type="text" id="areaMessage" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                <label for="form7">Сообщение</label>
            </div>
            <button mdbBtn type="submit" color="default" [disabled]="(!recipientUser.userID) || !form.valid" block="true" mdbWavesEffect>Отправить сообщение</button>

           </form>
        </div>
    </div>
</div>