<app-nav-menu></app-nav-menu>

<div class="row">
    <div class="col-4">
        <mdb-card class="friend-list scrollbar-near-moon">
            <mdb-card-body>
                
                <div class="chip selectedd col-12 selected">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> Выбранный пользователь
                </div>

                <div class="chip col-12">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> John Doe
                </div>

                <div class="chip col-12">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> John Doe
                </div>

                <div class="chip col-12">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> John Doe
                </div>

                <div class="chip col-12">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> John Doe
                </div>

                

            </mdb-card-body>
        </mdb-card>

    </div>

    <div class="col-8">
        <div class="">
            <mdb-card class="messages scrollbar-dusty-grass" id="data">
                <mdb-card-body>
                    <div class="alert alert-success offset-5 col-7" role="alert">
                       
                        <p style="font-size: 0.8em;">
                            тут текст сообщения
                        </p>
                        <hr>
                        <small style="font-size: 0.7em;"><em>Тут дата будет</em></small>
                    </div>

                    <div class="alert alert-success offset-5 col-7" role="alert">
                       
                        <p style="font-size: 0.8em;">
                            тут текст сообщения
                        </p>
                        <hr>
                        <small style="font-size: 0.7em;"><em>Тут дата будет</em></small>
                    </div>


                    <div class="alert alert-success  col-7" role="alert">
                    
                        <p style="font-size: 0.8em;">
                            тут текст сообщения
                        </p>
                        <hr>
                        <small style="font-size: 0.7em;"><em>Тут дата будет</em></small>
                    </div>

                    <div class="alert alert-success offset-5 col-7" role="alert">
                      
                        <p style="font-size: 0.8em;">
                            тут текст сообщения
                        </p>
                        <hr>
                        <small style="font-size: 0.7em;"><em>Тут дата будет</em></small>
                    </div>

                </mdb-card-body>
            </mdb-card>

            <div class="md-form">
                <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                <label for="form7">Сообщение</label>
            </div>
            <button mdbBtn type="button" color="default" block="true" mdbWavesEffect>Отправить сообщение</button>

        </div>
    </div>
</div>